.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-card {
  width: 100%;
  max-width: 400px;
  padding: 20px;
}

.full-width {
  width: 100%;
}

.button-container {
  margin-top: 20px;
}

.register-link {
  text-align: center;
  margin-top: 10px;
}
